# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/

# Environment
.env
.env.*
ai.env
!.env.example

# VS Code
.vscode/

# macOS
.DS_Store

# Temporary
tempCodeRunnerFile.py

# Logs
*.log